.spoilerText {
	text-align: left;
	color: #AE8B11;
	cursor: pointer;
	display: inline-block;
	transition: color 0.5s;
	-moz-transition: color 0.5s;
	-webkit-transition: color 0.5s;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
}

.spoilerText:hover {
	color: #E8B917;
	text-shadow: 0px 1px 1px rgba(0, 0, 0, 0.4);
}

.spoilerText:active {
	text-decoration: underline;
}

.spoilerIcon {
	opacity: 0.5;
	-moz-opacity: 0.5; 
	filter: alpha(opacity=50);
	transition: opacity 0.5s;
	-moz-transition: opacity 0.5s;
	-webkit-transition: opacity 0.5s;
}

.spoilerIcon:hover {
	opacity: 1;
	-moz-opacity: 1;
}